@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'CustomFont';
  src: url('../public/assets/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'CustomFont', sans-serif;

}

.input {
  @apply border rounded-2xl border-neutral-300 transition-all duration-300 outline-orange-400 hover:border-orange-400;
}

.navbar {
  @apply bg-none flex flex-row justify-between mx-16 my-4;
}

.navbar-options {
  font-weight: bolder;
  @apply text-white ml-6 p-1 text-xl transition-colors duration-300 ease-in-out;
}

.navbar-options:hover {
  @apply text-orange-400;
}

.navbar-search-form {
  @apply flex flex-row items-center h-24;
}

.navbar-icons {
  @apply size-8 mt-6 mr-5 cursor-pointer text-white transition duration-300;
}

.navbar-icons:hover {
  @apply text-orange-400;
}

.list-button {
  @apply bg-orange-400 text-white shadow-lg mt-12 px-5 p-2 rounded-xl font-extrabold transition duration-300;
}

.list-button:hover {
  @apply bg-white text-orange-400;
}

.children-container {
  scrollbar-width: thin;
  scrollbar-color: #00000033 #ce8e18;
  scroll-behavior: smooth;
  @apply overflow-x-hidden
}


.navigation-menu-option-container {
  @apply flex flex-col mr-40 w-40;
}

.navigation-menu-label {
  @apply text-lg text-white font-bold mb-3;
}

.navigation-menu-link {
  @apply text-neutral-300 transition duration-300 mb-2 hover:text-orange-400;
}