@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-white;
}

.layout-container {
    @apply flex flex-col h-screen relative;
}

.children-container {
    scrollbar-width: none;
    scrollbar-color: #00000033 #ce8e18;
    scroll-behavior: smooth;
    @apply overflow-x-hidden h-full;
}

@media screen and (max-width: 1024px) {
    .layout-container {
        @apply flex flex-col h-screen w-screen;
    }
}